@model SchoolInformation
@{
    ViewData["Title"] = "О школе";
}

@section Header {
    <heading style="flex:1; text-align: center; margin:0;">О школе</heading>

    <div style="display: flex; float: right; padding: 10px; width: 60%;">
        <nav class="element_link_row">
            <a href="@ViewBag.targetUrlElectronicMagazine">Электронный дневник</a>
        </nav>
        <nav class="element_link_row">
            <a href="@ViewBag.targetUrlSchedule">Расписание</a>
        </nav>
        <nav class="element_link_row">
            <a href="/ViewBag.targetUrlNews">Новости</a>
        </nav>
        <nav class="element_link_row">
            <a href="/Reviews">Отзывы о школе</a>
        </nav>
        <nav class="element_link_row">
            <a href="/Teachers">Учителя</a>
        </nav>
        <nav class="element_link_row">
            <a href="@ViewBag.targetUrlProfile">Профиль</a>
        </nav>
    </div>
}
<div style="width: 100%; text-align:center; margin-bottom: 20px; margin-top: 20px;">
    <heading>СПб ГБОУ СОШ №92</heading>
</div>
<div>
    <img style="float: left; margin: 10px;" src="~/школа.png" alt="Школа №92" width="200" height="132"/>
    <div>
        Школа №92 “Техноград” - это современное образовательное учреждение, расположенное в центре города. Школа гордится своей ориентацией на передовые технологии.

        Профиль: Углубленное изучение информатики, робототехники и программирования.
        Оснащение: Современные компьютерные классы, лаборатории робототехники, 3D-принтеры, интерактивные доски в каждой аудитории.
        Преподаватели: Высококвалифицированные педагоги, многие из которых имеют опыт работы в IT-индустрии.
        Программы: Разнообразные факультативы и кружки, включая программирование на Python, разработку веб-приложений, создание игр, основы искусственного интеллекта.
        Достижения: Ученики школы являются неоднократными победителями олимпиад по информатике и робототехнике.
        Девиз: “Век технологий - наше время”.
        Вариант 2: Школа с акцентом на искусство и гуманитарные науки

        Школа №92 “Созвездие” - это образовательное учреждение с богатой историей и традициями, расположенное в живописном районе города.

        Профиль: Углубленное изучение литературы, истории, музыки и изобразительного искусства.
        Оснащение: Хорошо оборудованные художественные мастерские, музыкальные классы, театральная студия, библиотека с обширной коллекцией книг и произведений искусства.
        Преподаватели: Увлеченные педагоги, многие из которых являются известными деятелями искусства и культуры.
        Программы: Театральные постановки, литературные чтения, выставки художественных работ, музыкальные концерты, сотрудничество с местными музеями и галереями.
        Достижения: Ученики школы регулярно участвуют и побеждают на конкурсах по литературе, музыке и искусству.
        Девиз: “Творчество - наш путь к знаниям”.
    </div>
</div>

